body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #57595c;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 15px;
}

.todo-card {
  width: 100%;
  max-width: 420px;
  background: #cfc5f7;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}

h2 {
  margin: 0 0 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

label {
  display: flex;
  gap: 8px;
  margin: 12px 0;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

ul li {
  background: #eee;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 12px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

button {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#editBtn {
  background: #3498db;
  color: white;
}

#deleteBtn {
  background: #e74c3c;
  color: white;
}


.edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-form h3 {
  margin-bottom: 5px;
  color: #222;
}

.edit-form label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #444;
  gap: 5px;
}

.edit-form input,
.edit-form textarea,
.edit-form select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.edit-form textarea {
  resize: none;
  min-height: 80px;
}

.edit-form input:focus,
.edit-form textarea:focus,
.edit-form select:focus {
  outline: 2px solid #4a6cf7;
  border-color: #4a6cf7;
}

.form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

#saveBtn {
  background: #4a6cf7;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

#cancelBtn {
  background: #eee;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.desc {
  max-height: 20px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.desc.expanded {
  max-height: 500px;
}


.priority-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dot.low {
  background: green;
}

.dot.medium {
  background: orange;
}

.dot.high {
  background: red;
}
